.login-container {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  flex: 1;
}

.login-container label {
  margin-bottom: 0.5em;
}

.login-container header {
  margin-bottom: 32px;
}

form h1 {
  margin-top: 0;
  margin-bottom: 1.5em;
}

label {
  font-weight: 700;
}

input[type="text"] {
  font-size: 1.2em;
  padding: 16px;
  margin-bottom: 32px;
  outline: none;
  border: 1px solid #107432;
  border-radius: 0.5em;
}

input[type="text"]:focus {
  border-color: #241bff;
}

input[type="radio"] {
  margin-right: 8px;
}

.verification-option {
  border: 1px solid #107432;
  border-radius: 0.5em;
  padding: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}

.verification-option input[type="radio"],
.verification-option label {
  cursor: pointer;
}

.verification-submit {
  display: flex;
}

.one-time-code {
  letter-spacing: 0.5em;
  text-align: center;
}

.contact-suggestion {
  margin-left: 8px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  position: relative;
  bottom: 26px;
}

button {
  background: #46be69;
  color: #fff;
  width: 50%;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 0.5em;
  outline: none;
  margin: 0 auto;
}

button:focus {
  background: #305f3d;
}

button:disabled,
input[type="submit"]:disabled:hover {
  cursor: not-allowed;
}

input[type="submit"]:hover {
  cursor: pointer;
}

header h4,
header p {
  margin-bottom: 0.5em;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.date-widget {
  display: flex;
}

.date-widget label {
  font-weight: 500;
}

.date-widget input {
  text-align: center;
}

.user-input-block {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  width: 16%;
}

.user-input-block:nth-child(3) {
  width: 24%;
}

@media only screen and (max-width: 425px) {
  main {
    display: initial;
  }

  .login-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .verification-option {
    text-align: center;
  }

  .verification-option .contact-suggestion {
    display: block;
    position: relative;
    top: 8px;
  }
}
