.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-header img {
  width: 12em;
  height: 3em;
  padding-top: 1em;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

footer .footer-text {
  margin-left: 0.7em;
  margin-right: 0.7em;
  opacity: 0.7;
}
